[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
psycopg = "*"
psycopg2-binary = "*"
djangocms-admin-style = "*"

[dev-packages]

[requires]
python_version = "3.11"
